@font-face {
  font-family: BebasNeue; /* set name */
  src: url(BebasNeue-Regular.ttf); /* url of the font */
}

html{
  font-family:"BebasNeue", sans-serif;
 
}

body {
  margin: 0;
  padding: 0;
}

#left-section {
  
  position: absolute;
  background-color: orange;
  width: 40vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(images/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo-background {
  width: 100%;
  height: 35%;
  background-color: black;
  opacity: 50%;
}

#logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-top: 5%;
}

#logo img {
  width: 300px;
  height: auto;
}

#logo-text {
  color: white;
  font-size: 6rem;
  text-shadow: 1px 1px black;
}

#links a,
#links {
  font-size: 36px;
  color: white;
  text-shadow: 1px 1px black;
  text-decoration: none;
}

#links a:visited, #links a {
  color: rgb(211, 140, 33);
}

#right-section {
  font-family:sans-serif;
  top: 0;
  right: 0;
  position: absolute;
  background-color: steelblue;
  width: 60vw;
  height: 100vh;
  display:flex;
  flex-direction:column;
  min-width:0;
  min-height:0;
}

#container-header{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:35%;
  background-image:linear-gradient(180deg,#2c4b88, #5777a5);
  font-size:36px;
  color:white;
  text-shadow:1px 1px black;
  text-size-adjust: 100px;
}

#header-text{
  display:flex;
  flex-direction:column;
  max-width:50vw;
  gap:10px;
}
#container-login{
  height:30%;
width:60vw;
}
#container-main{
  background-image:linear-gradient(180deg,#9b9ab3, #f8be96);
  height:35%;
  width:60vw;
  background-color:rgb(223, 179, 115);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-size:16px;
  min-width:0;
}

#container-text{
  font-size:24px;
}

input{
  width:20rem;
  height:2rem;
}
form{
  display:flex;
  flex-direction:column; 
  flex-wrap:wrap;
  /* overflow:auto;  */
  font-weight:600;
  gap:10px;
  color:white;
  text-shadow: 1px 1px black;
}

#row1, #row2, #row3{
  display:flex;
  /* justify-content:flex-start; */
  /* align-items:center; */
  gap:20px;

}
#col1, #col2, #col3, #col4, #col5, #col6{
  display:flex;
  flex-direction:column;
}

#container-login{
  background-image:linear-gradient(180deg,#c3cfd4, #789ec6);
  font-size:32px;
  color:white;
  text-shadow:1px 1px black;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  gap:10px;
}

#container-link{
  color: rgb(211, 140, 33);
    text-decoration:none;
}

button{
  color:white;
  background-color:rgb(211, 140, 33);
  width:15rem;
  height:3rem;
  font-size:20px;
  border-radius:10px;
  border-style:none;
  box-shadow:1px 1px 1px 1px rgb(172, 104, 2);
  
}

